<header>
<!--================ OLD Code =================-->
<!--================ OLD Code Ends here =================-->
<div class="header-thumbnails-sec">
      <div class="container">
    <div class="header-box-wrapper">
    
    <%= link_to root_path do %>
       <%= image_tag "/assets/21laugh.jpg", style: "width: 31%"%>
        <% end %>              </div>
    <!--header box wrapper--> 
  </div>
      <!--container--> 
    </div>
<!--header-thumbnail-sec-->

<!--main-header-sec-->

</header>