         <div class="ad-banner">
								<!-- /10353562/jokes-left-top -->
								<div id='div-gpt-ad-1467902003945-1' style='height:150px; width:180px;'>
								<script type='text/javascript'>
								googletag.cmd.push(function() { googletag.display('div-gpt-ad-1467902003945-1'); });
								</script>
								</div>
								</div>
                                                              <h3>Top Articles</h3>
                                <!--=============Top Article===================-->
                               
                                                                 <div class="top-articles">
                                    <a href="http://www.laughfactory.com/magazines/detail/larry-david-the-man-behind-seinfeld">
                                        <figure>
                                            <img src="http://cdn.laughfactory.com/images/mag-top-articles-list/690007d5-3ce6-4dc7-a828-c0a0d5604a67.jpg" />
                                        </figure>
                                        <div class="article-description">
                                            <h5>Larry David: The Man Behind Seinfeld</h5>                            
                                            <p>The Editors</p>
                                        </div>
                                    </a>
                                </div>
                                                                 <div class="top-articles">
                                    <a href="http://www.laughfactory.com/magazines/detail/40-acres-and-a-mule">
                                        <figure>
                                            <img src="http://cdn.laughfactory.com/images/mag-top-articles-list/b2926fc0-fd35-4f5b-9d41-6cfab4767c48.jpg" />
                                        </figure>
                                        <div class="article-description">
                                            <h5>40 Acres and A Mule</h5>                            
                                            <p>Paul Mooney</p>
                                        </div>
                                    </a>
                                </div>
                                                                 <div class="top-articles">
                                    <a href="http://www.laughfactory.com/magazines/detail/woody-on-woody">
                                        <figure>
                                            <img src="http://cdn.laughfactory.com/images/mag-top-articles-list/f2732326-047f-4b43-b9e1-28ab03e01a7f.jpg" />
                                        </figure>
                                        <div class="article-description">
                                            <h5>Woody on Woody</h5>                            
                                            <p>Woody Allen</p>
                                        </div>
                                    </a>
                                </div>
                            <div class="ad-banner">
							<!-- /10353562/jokes-left-bottom -->
							<div id='div-gpt-ad-1467902003945-0' style='height:600px; width:160px;'>
							<script type='text/javascript'>
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-1467902003945-0'); });
							</script>
							</div>
                             </div>